html, body{
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 60px;
	font-weight: normal;
}
#header{
	height: 150px;
	text-align: center;
	color: black;
}
#mainmenu{
	padding-left: 0px;
	margin: 0px;
	list-style: none;
	height: 50px;
	background-color: #D0D5F7;
	text-align: center;
	font-size: 20px;
	display: flex;
}
#mainmenu li{
	padding-top: 12px;
	width: 25%;
}
#mainmenu a{
	color: black;
	text-decoration: none;
}
#mainmenu li:hover{
	background-color: #D4F0F7;
}

#footer{
	height: 60px;
	text-align: center;
	background-color: #D0D5F7;
	font-size: 15px;
}
#footer p{
	padding: 0px;
	margin: 0px;
}